body {
    background: #212830;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;

    font-family: 'JetBrains Mono', monospace;
}

.header {
    background-color: #151b23;
    height: 8vh;
    width: auto;
    grid-row: 1;
    h1 {
        color: #d1d7e0;
        margin: 0;
    }
    a {
        margin: 5px;
        color: gainsboro;
    }
}

.main {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    color: #d1d7e0;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    input {
        box-sizing: border-box;
        width: 50%;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 5px;
    }
    textarea {
        box-sizing: border-box;
        resize: none;
        width: 60%
    }
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.articles {
    height: fit-content;
    width: 75vw;
    background-color: #212121;
    border-radius: 5px;
    white-space: pre-wrap;
    .data {
        color: #6b7684;
        margin-right: auto;
    }
}

.editor {
    height: fit-content;
    width: 75vw;
    background-color: #212121;
    border-radius: 5px;
    button {
        font-family: 'JetBrains Mono', monospace;
        height: 6vh;
        width: 5vw;
        margin: 10px;
        border-radius: 10px;
    }
}

.comments {
    height: min-content;
    width: 50vw;
    background-color: #2a323c;
    border-radius: 10px;
    outline: 3px;
    outline-color: #151b23;
    outline-style: solid;
    margin-right: auto;
    margin-left: auto;
}

.comments_title {
    height: min-content;
    width: 70vw;
    background-color: #333c46;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px;
    outline-color: #151b23;
    outline-style: solid;
}

.actions {
    height: fit-content;
    width: 75vw;
    background-color: #212121;
    button {
        font-family: 'JetBrains Mono', monospace;
        height: 4vh;
        width: 5vw;
        margin: 5px;
        border-radius: 10px;
        white-space: normal;
    }
}

.comment_creator {
    height: fit-content;
    width: 75vw;
    background-color: #212121;
    textarea {
        box-sizing: border-box;
        resize: none;
        width: 80%
    }
    button {
        font-family: 'JetBrains Mono', monospace;
        height: 6vh;
        width: 6vw;
        margin: 5px;
        border-radius: 10px;
        white-space: normal;
    }
}

.footer {
    height: 8vh;
    width: auto;
    background-color: #212830;
    outline: 3px;
    outline-color: #151b23;
    outline-style: solid;
    grid-row: 3;
    text-align: center;
    a {
        margin: 5px;
        color: gainsboro;
    }
}
